<div class="container">

    <table class="table table-striped table-light">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Crediti</th>
          <th>Colore</th>
          <th class = "text-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modaleInserimento">
            <i class="fa-solid fa-plus"></i>
        </button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lista">
            <td>{{ item.name }}</td>
            <td>{{ item.credits }}</td>
            <td>{{ item.color }}</td>
            <td class = "text-right"><button class = "btn btn-info">Personaggi</button></td>
        </tr>
      </tbody>
    </table>

    <div class="modal fade" id="modaleInserimento" tabindex="-1" aria-labelledby="Inserimento utente" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modaleInserimento">Inserimento utente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            
                <div class="row">
                    <div class="col">
  
                        <div class="form-group">
                            <label for="input_nome">Nome</label>
                            <input [(ngModel)]="nome" type="text" class="form-control" id="input_nome" placeholder="Inserire nome" />
                        </div>
                        <div class="form-group">
                            <label for="input_colore">Colore</label>
                            <select [(ngModel)]="colore" class="form-control" id="input_colore">
                              <option>Rosso</option>
                              <option>Verde</option>
                              <option>Blu</option>
                            </select>
                        </div>
                    </div>
                </div>
  
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Aggiungi</button>
          </div>
      </div>
    </div>
  </div>
</div>
